
body {

    background-image: url('https://www.wallpapertip.com/wmimgs/66-666816_hd-web-background.jpg');
    font-family: 'Comic Sans MS';
}

.container-fluid {

    margin-top: 100px;
    padding: 2%;
    border-radius: 90px;
    width: 55%;
    height: 500px;
    object-position: center;
    background-position:center;
    top: 100px;
    

}

.letters {

    position: relative;
    margin-top: 69px
    

}

.img {
    position: relative;
    top: -15px; /* ajustar los valores para mover la imagen */
    left: -5px;
    width: 15px;
    height: 15px;
}


.fondo {

    position: relative;
    border-radius: 85px;
    object-position: center;
    margin-left: 235px;
    margin-top: 9px;
    border-radius: 30px; 
    
}

.container body-content {

     position: relative;
     right: 100px
     

}

.footer {
        
    position: relative;
    right: -70px;
    top: 130px;


}

.col-md-offset-2 col-md-10 {

        

}

.col-md-4 {

    font-family: 'Comic Sans MS';

}

.contact-container {

        position: relative;
        margin-top: 10px;


}

.jumbotron {

     

}

h2 {
   
}

.users {


}

.form-horizontal {

    margin-right: 20%;
    margin-left: 20%;
    border-radius: 2%;
    width: 550px;
    height: 400px;

}

.form-group {

    margin-top: 37px;
    margin-left: 90px

}


.name-form {

    margin-left: 100px;


}

.col-md-10 {

    margin-left: 95px;
    margin-top: -20px
}

. col-md-4 {


    box-shadow: inset
}


.form-group-login {

    margin-top: 130px;
    margin-right: 150px;
    margin-left: -170px;

}

.col-md-10-login {

    margin-top: -50px;
    margin-left: 100px;

}

.table-fecha {

    background-color: white;
    margin-left: 100px;

}

.form-group-regis {
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.form-group-bottom {

    left: 90px;


}