@{
    ViewBag.Title = "Vipe Tech Contact";
}

<link rel="stylesheet" href="~/Content/Loginstyles.css" />
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<img src="~/img/c1.png" alt="contact" width="190px"/>

<div class="contact-container" style="background-color: white">
    <address>
        <strong>
        Santo Domingo,<br />
        República Dominicana<br />
        <abbr>Número: 849-406-1012 </abbr>
        
        </strong>
    </address>

    <address>
        <div class="info">
            <strong>Support:</strong>   <a href="mailto:iamvillalona@gmail.com">iamvillalona@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:iamvillalona@gmail.com">iamvillalona@gmail.com</a> <br />
            <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/marlon-villalona-3577161b4/">LinkedIn</a> <br />
            <strong>Instagram:</strong> <a href="https://www.instagram.com/iamvillalona/">Instagram</a> <br />
            <strong>Telegram:</strong> <a href="http://t.me/iamvillalona.">Telegram</a>
        </div>
    </address>
</div>