@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Santo Domingo,<br />
    República Dominicana<br />
    <abbr title="Phone">Número: </abbr>
    849-406-1012
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:iamvillalona@gmail.com">iamvillalona@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:iamvillalona@gmail.com">iamvillalona@gmail.com</a>
</address>