@{
    ViewBag.Title = "VIPE TECH";
}

<div class="jumbotron">
    <h1>Vipe Tech</h1>
    <p class="lead">Empresa tecnológica enfocada en el desarrollo de software a nivel mundial.</p>
    <p><a href="https://www.instagram.com/vipetechnology/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://www.instagram.com/vipetechnology/">Crear usuario &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departamentos</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/vipetechnology/">Crear departamento &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentos</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/vipetechnology/">Crear documento &raquo;</a></p>
        
    </div>
</div>